<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  </head>
  <body>
   <form action="/" method="post">
      <h3>vid 1</h3>
    <div id="player1"></div>
    <button name="boot1"><span>Boot 1</span></button>
  <br>
      <h3>vid 2</h3>
  <div id="player2"></div>

        <button name="boot2"><span>Boot 2</span></button>
    </form>


  </body>
  <script src="/javascript/home.js"></script>
</html>
