<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
    <link href="https://fonts.googleapis.com
    /css?family=Lato" rel="stylesheet">
  </head>


  <body>

      <form action="/" method="post">
        <div class="video-container">
          <h3>vid 1</h3>
          <span id="player1"></span>
          <button name="boot1">Boot 1</button>
          <div class="like-container">
            <button value="{{ videos[0].key.urlsafe() }}">Like</button>
            <span class="likes">{{ videos[0].like_count }}</span> likes
          </div>
        </div>


        <br>

        <div class="video-container">
          <h3>vid 2</h3>
          <span id="player2"></span>
          <button name="boot2"> Boot 2</button>
          <div class="like-container">
            <button value="{{ videos[1].key.urlsafe() }}">Like</button>
            <span class="likes">{{ videos[1].like_count }}</span> likes
          </div>
        </div>
      </form>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/home.js"></script>
</html>
