<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Vertical Layout with Navigation</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="stylesheet/main.css">


</head>

<body>
  <nav class="nav">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>

  <ul class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-blue"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
    </li>
    <li class="nav__item">
      <a href="#2" class="nav__link c-yellow scrolly"><i class="fa fa-question" aria-hidden="true"></i></a>
    </li>
    <li class="nav__item">
      <a href="#3" class="nav__link c-red"><i class="fa fa-upload" aria-hidden="true"></i></a>
    </li>
    <li class="nav__item">
      <a href="#4" class="nav__link c-green"><i class="fa fa-code" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>


<section class="panel b-blue" id="1">
  <article class="panel__wrapper">
    <div class="panel__content">
      <form action="/" method="post">
          <div class="video-container">
            <h3>Video 1</h3>
            <span id="player1"></span>
            <div class="like-container">
              <button name="like1" value="{{ videos[0].key.urlsafe() }}">Like</button>
              <span class="likes">{{ videos[0].like_count }}</span> likes
            </div>
          </div>



            <br>
            <div class="video-container">
            <h3>Video 2</h3>
            <span id="player2"></span>
            <div class="like-container">
              <button name="like2" value="{{ videos[1].key.urlsafe() }}">Like</button>
              <span class="likes">{{ videos[1].like_count }}</span> likes
            </div>
          </div>
        </form>
    </body>
        </form>



    </div>
  </article>
</section>
<section class="panel b-yellow" id="2">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline">&nbsp;How it works<i class="fa fa-question" aria-hidden="true"></i></h1>
      <div class="panel__block"></div>
      <p>We will explain the rules and stuff here.</p>
    </div>
  </article>
</section>
<section class="panel b-red" id="3">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Join Next</h1>
      <div class="panel__block"></div>
      <p>Here a user will use their url to queue next to be next.</p>
    </div>
  </article>
</section>
<section class="panel b-green" id="4">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-code" aria-hidden="true"></i>&nbsp;About the Group</h1>
      <div class="panel__block"></div>
      <p>this will be the group page </p>
    </div>
  </article>
</section>



</body>
<script src="https://use.fontawesome.com/3e4be7e583.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="javascript/home.js"></script>

</body>


</html>
