<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>B O O T</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="icon" href="boot1.ico" type="image/x-icon" />

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="stylesheet/newvideo.css">

</head>
  <body>


    <nav class="nav">
    <div class="burger">
      <div class="burger__patty"></div>
    </div>

    <ul class="nav__list">
      <li class="nav__item">
        <a href="/#1" class="nav__link c-blue"><i class="fa fa-home" aria-hidden="true"></i></a>

      </li>
    </ul>
  </nav>


    <div>

    <form action="/newvideo" method="post">
      <h3>Add Yourself To the Boot Queue: </h3>
      <br>

      <input id="user_name" name="user_name" placeholder="What's your screen name?"></input>
        <br>
        <input id="video_id" name="video_id" placeholder="Input video key"></input>


<br>
      <button>Boot it Up!</button>

    </form>
  </div>
  </body>

    <script src="https://use.fontawesome.com/3e4be7e583.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="javascript/newvideo.js"></script>

</html>
